{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Comentario</h1>

    <table>
        <thead>
            <tr>
                <th>Post</th>
                <th>Autor</th>
                <th>Contenido</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': comentario.post.id }) }}">{{ comentario.post }}</a></td>
                <td><a href="{{ path('comentario_show', { 'id': comentario.id }) }}">{{ comentario.autor }}</a></td>
                <td>{{ comentario.contenido }}</td>
                <td>{% if comentario.creadoAt %}{{ comentario.creadoAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if comentario.updatedAt %}{{ comentario.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comentario_show', { 'id': comentario.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('comentario_edit', { 'id': comentario.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comentario_new') }}">Crear nuevo</a>
        </li>
    </ul>
{% endblock %}
