{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Post</h1>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.titulo }}</a></td>
                <td>{{ post.contenido }}</td>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': post.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Crear nuevo</a>
        </li>
    </ul>
{% endblock %}
