{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post #{{ post.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ post.titulo }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ post.contenido }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Volver al listado</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
